<% layout('partials/_layout') -%>
<h1>MAEK NEW</h1>
<table>
  <form action="/new" method="POST">
    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" placeholder="Name"></td>
    </tr>
    <tr>
      <td>Genre:</td>
      <td><select name="genre">
        <option value="reggae">Reggae</option>
        <option value="rock">Rock</option>
        <option value="smooth jazz">Smooth Jazz</option>
        <option value="ranch">Ranch</option></select>
      </td>
    </tr>
    <tr>
      <td>Language:</td>
      <td><select name="language">
        <option value="english">English</option>
        <option value="japanese">Japanese</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option></select>
      </td>
    </tr>
    <tr>
      <td>Nationality:</td>
      <td><select name="nationality">
        <option value="american">American</option>
        <option value="japanese">Japanese</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option></select>
      </td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td><textarea name="bio"></textarea></td>
    </tr>
    <tr>
      <td>Members:</td>
      <td><input type="radio" name="members" value="1">1
        <input type="radio" name="members" value="2">2
        <input type="radio" name="members" value="3">3
        <input type="radio" name="members" value="somany">all of them
        <input type="radio" name="members" value="no">band is fictitious
      </td>
    </tr>
    <tr>
      <td>Wikipedia Link:</td>
      <td><input type="text" name="wikipedia" placeholder="wikipedia link"></td>
    </tr>
    <tr>
      <td><input type="submit"></td>
      <td><a href="/">Back</a></td>
    </tr>
  </form>
</table>
