<% layout('partials/_layout') -%>
<h1>MAEK NEW</h1>
<form action="/new" method="POST">
Name: <input type="text" name="name" placeholder="Name">
Genre:
<select name="genre">
  <option value="reggae">Reggae</option>
  <option value="rock">Rock</option>
  <option value="smooth jazz">Smooth Jazz</option>
  <option value="ranch">Ranch</option>
</select>
Language:
<select name="language">
  <option value="english">English</option>
  <option value="japanese">Japanese</option>
  <option value="french">French</option>
  <option value="spanish">Spanish</option>
</select>
Nationality:
<select name="nationality">
  <option value="american">American</option>
  <option value="japanese">Japanese</option>
  <option value="french">French</option>
  <option value="spanish">Spanish</option>
</select>
Bio:
<textarea name="bio"></textarea>
Members:
<input type="radio" name="members" value="1">1
<input type="radio" name="members" value="2">2
<input type="radio" name="members" value="3">3
<input type="radio" name="members" value="somany">all of them
<input type="radio" name="members" value="no">band is fictitious
Wikipedia Link:
<input type="text" name="wikipedia" placeholder="wikipedia link">
<input type="submit">
