body {
  text-align: center;
  margin: auto;

  h1 {
    clear: both;
  }

  ul {
    list-style: none;
    float: right;

    li {
      display: inline;
    }
  }
}

.hidden {
  display: none;
}

table {
  td, th {
    padding: 3px 5px;
  }
}

h1, tr:last-of-type {
  padding: 0 0 20px 0;
}
