<!doctype html>
<html>
  <head>
    <title><%= maintitle %> | <%= pagetitle %></title>
    <!-- don't need type="text/css" -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include _header %>
      <%-body -%>
    </div>
  </body>
</html>
