<!doctype html>
<html>
  <head>
    <title><%= maintitle %> | <%= pagetitle %></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%-body -%>
    </div>
  </body>
</html>
